* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

body {
  position: relative;
  font-family: "Open sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #000;
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px; }

.button {
  font-family: "Open Sans Semibold", sans-serif;
  font-size: 25px;
  line-height: 23px;
  background-color: #00a5ff;
  padding: 20px 70px;
  border: 2px solid transparent;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25); }

.active {
  display: block; }

.button:focus {
  outline: none;
  border: 2px solid white; }

.bg-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 700px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/header-bg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: -1;
  overflow: hidden; }

.header-top {
  position: relative; }

.section {
  display: none;
  position: absolute;
  top: 3%;
  right: 10%; }

.menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.menu-nav {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: scaleX(0) translateX(20%);
          transform: scaleX(0) translateX(20%);
  opacity: 0;
  height: 50px;
  padding-left: 20px;
  padding-right: 40px;
  background-color: #fff;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px; }

.menu-nav--active {
  -webkit-transform: scaleX(1) translateX(4%);
          transform: scaleX(1) translateX(4%);
  opacity: 1; }

.menu-nav ul {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu-nav li {
  margin-right: 5px; }

.menu-nav a {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  color: #222; }

.menu-btn {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%; }

span,
.menu-btn span::after,
.menu-btn span::before {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  margin-left: -10px;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: #222; }

.menu-btn span::after,
.menu-btn span::before {
  display: block;
  content: "";
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.menu-btn span::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px); }

.menu-btn span::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px); }

.menu-btn--active span:before {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg); }

.menu-btn--active span {
  height: 0; }

.menu-btn--active span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.menu-btn--active span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.header-navigation {
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header-navigation--logo a {
    font-size: 38px;
    font-weight: 800;
    color: #fff; }
    .header-navigation--logo a b {
      text-shadow: 2px 2px 2px black;
      padding: 4px 6px;
      background-color: #3b404c; }

.header-nav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.header-nav--iteam {
  margin-right: 60px; }
  .header-nav--iteam a {
    font-family: "Open Sans Semibold", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
    opacity: 0.7; }
.header-nav--iteam:last-child {
  margin-right: 0; }

.header-content {
  text-align: center;
  margin-top: 218px;
  color: white; }
  .header-content--title {
    font-family: "Lora", sans-serif;
    font-size: 58px;
    line-height: 55px;
    font-weight: 700;
    margin-bottom: 35px; }
  .header-content--desc {
    font-size: 25px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 85px; }
  .header-content .button {
    margin-bottom: 150px; }

.main-content {
  position: relative;
  text-align: center; }

.section-service {
  margin-top: 70px; }
  .section-service--title {
    font-family: "Lora", sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    color: #3a3f4b; }
  .section-service--title::after {
    content: "";
    display: block;
    margin: 30px auto 100px auto;
    bottom: 0;
    width: 147px;
    height: 4px;
    background-color: #00a5ff; }

.service-tovars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 95px; }

.service-tovar--title {
  color: #000;
  font-family: "Open Sans Semibold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase; }
.service-tovar--title::after {
  content: "";
  display: block;
  width: 41px;
  height: 2px;
  border-bottom: 2px solid #dadada;
  margin: 20px auto;
  color: #8f8f8f; }
.service-tovar--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 81px;
  height: 81px;
  background-color: #f5f6f8;
  border-radius: 50%; }
  .service-tovar--img i {
    font-size: 40px;
    color: #0095ff; }
.service-tovar--desc {
  width: 250px;
  color: #999999;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 800;
  line-height: 20px; }

.section-portfolio {
  padding: 45px 0 80px 0;
  background-color: #f5f6f8; }
  .section-portfolio--list {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px; }
  .section-portfolio--iteam {
    margin-right: 60px;
    text-transform: uppercase; }
  .section-portfolio--link {
    font-size: 14px;
    color: #999999;
    padding-bottom: 10px; }
    .section-portfolio--link:hover {
      border-bottom: 1px solid #63b7e6;
      color: #00a5ff; }

.portfolio-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px; }
  .portfolio-box--iteam {
    width: 379px;
    height: 353px;
    background-color: #f4f5f9;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .portfolio-box--img {
    width: 378px;
    height: 281px; }
    .portfolio-box--img img {
      width: 100%;
      height: 100%; }
  .portfolio-box--text {
    font-family: "Open Sans Semibold", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 28px 26px;
    text-align-last: left;
    color: #999999; }

.port-btn {
  text-transform: uppercase; }

.section-brands {
  background-color: #fff;
  min-height: 430px; }

.section-brands {
  padding: 65px 0 125px 0; }

.brands-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 75px; }
  .brands-box--iteam {
    width: 150px;
    min-height: 100px; }
  .brands-box--one {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url(../img/brands-sprite2.png);
    background-repeat: no-repeat;
    background-position: 10px 0;
    color: #333; }
    .brands-box--one:hover {
      background-color: #222; }
  .brands-box--two {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url(../img/brands-sprite2.png);
    background-repeat: no-repeat;
    background-position: -141px 0;
    color: #333; }
  .brands-box--three {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url(../img/brands-sprite2.png);
    background-repeat: no-repeat;
    background-position: -306px 0;
    color: #333; }
  .brands-box--four {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url(../img/brands-sprite2.png);
    background-repeat: no-repeat;
    background-position: -478px 0;
    color: #333; }
  .brands-box--five {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url(../img/brands-sprite2.png);
    background-repeat: no-repeat;
    background-position: -625px 0;
    color: #333; }
  .brands-box--six {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url(../img/brands-sprite2.png);
    background-repeat: no-repeat;
    background-position: -790px 0;
    color: #333; }

.section-reviews {
  padding: 65px 0;
  background-color: #f5f6f8; }

.slide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.slide-box--img {
  width: 100%;
  max-width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto; }

.box-img--iteam {
  width: 109px;
  height: 109px;
  border-radius: 50%;
  background-color: #ECF0F1;
  opacity: 0.5;
  margin-bottom: 45px; }
  .box-img--iteam img {
    width: 100%;
    height: 100%; }

.slide-box--text {
  width: 100%;
  max-width: 560px;
  margin: 0 auto; }
  .slide-box--text p {
    font-family: "Lora", sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #3a3f4b; }

.slide-container {
  position: relative; }

.slide-container.slick-prev {
  position: absolute;
  left: 0; }

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer {
  background-color: #3b404c; }
  .footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 85px 0 130px; }
    .footer-top--title {
      font-family: "Lora", sans-serif;
      font-size: 33px;
      font-weight: 700;
      line-height: 24px;
      color: #fff; }
    .footer-top--menu ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer-top--menu ul li {
        margin-right: 30px; }
        .footer-top--menu ul li:last-child {
          margin-right: 0; }
        .footer-top--menu ul li a {
          font-size: 21px;
          line-height: 43px;
          color: #fff; }

.footer-midle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer-midle--info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

.midle-info {
  margin-bottom: 70px; }
  .midle-info h4 {
    font-family: "Open Sans Semibold", sans-serif;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 30px; }
  .midle-info p {
    max-width: 310px;
    line-height: 24px;
    color: #999999;
    margin: 0; }
  .midle-info a {
    display: block;
    line-height: 24px;
    color: #999; }

.footer-midle-form {
  max-width: 780px; }
  .footer-midle-form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

.midle-form--name, .midle-form--subject {
  width: 360px; }

.midle-form--name {
  margin-right: 30px; }

.midle-form--name label {
  display: block;
  color: #ffffff;
  font-size: 26px;
  line-height: 35px;
  margin-bottom: 20px; }

.midle-form--name input {
  width: 100%;
  font-size: 20px;
  border: 0;
  border-bottom: 2px solid #999;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0);
  outline: 0;
  color: #fff; }

.midle-form--subject label {
  display: block;
  color: #ffffff;
  font-size: 26px;
  line-height: 35px;
  margin-bottom: 20px; }

.midle-form--subject input {
  width: 100%;
  font-size: 20px;
  border: 0;
  border-bottom: 2px solid #999;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0);
  outline: 0;
  color: #fff; }

.midle-form--name input:focus,
.midle-form--subject input:focus {
  border-bottom: 2px solid #00a5ff; }

.midle-form--area {
  width: 100%;
  margin-top: 60px; }

.midle-form--area label {
  display: block;
  color: #ffffff;
  font-size: 26px;
  line-height: 35px;
  margin-bottom: 20px; }

.midle-form--area textarea {
  width: 100%;
  font-size: 20px;
  border: 0;
  border-bottom: 2px solid #999;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0);
  outline: 0;
  color: #fff;
  resize: none;
  margin-bottom: 40px; }

.form-btn {
  font-family: "Open Sans Semibold", sans-seirf;
  padding: 10px 30px;
  font-size: 25px;
  font-weight: 400;
  line-height: 23px;
  display: block;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  background-color: #00a5ff;
  color: #ffffff;
  border: 1px solid transparent; }

.footer-bottom {
  position: relative;
  padding: 30px 0;
  background-color: #ffffff; }

.foot-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer-soc--iteam {
    background-color: #999;
    border-radius: 50%;
    margin-right: 12px; }
    .footer-soc--iteam:last-child {
      margin-right: 0; }
    .footer-soc--iteam a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 30px;
      height: 30px;
      color: #fff; }
      .footer-soc--iteam a:focus {
        border: 2px solid blue;
        border-radius: 50%;
        outline: none; }

.scroll-up {
  position: absolute;
  top: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  .scroll-up--btn {
    font-size: 20px;
    width: 67px;
    height: 67px;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    background-color: #00a5ff;
    border-radius: 50%;
    color: #fff;
    cursor: pointer; }
    .scroll-up--btn:focus {
      outline: none;
      border: 2px solid blue; }

@media (max-width: 1200px) {
  .container {
    padding: 0 20px; }

  .header-nav--list {
    display: none; }

  .section {
    display: inline-block; } }

/*# sourceMappingURL=main.css.map */