body {
	background: #222 url(../img/bg.png) no-repeat center top;
	font-family: 'PTSans-NarrowBold', sans-serif;
	font-size: 14px;
	color: #000000;
	text-transform: uppercase;
	min-width: 960px
}


.header {
	width: 100%;
	padding: 30px 0;
	background-color: #000000;
}

.menu {
	width: 960px;
	margin: 0 auto;
}

.top-menu {

}

.top-menu__iteam {
	display: inline-block;
}

.top-menu__iteam a {
	padding: 29px 40px;
	color: #fff;
	text-decoration: none;
	transition: 0.7s;
}

.top-menu__iteam a:hover {
	background-color: #242424;
}

.top-menu .top-menu__entry {
	position: relative;
	margin-left: 130px;
}

.top-menu .top-menu__entry:before {
	content: '';
	background: url(../img/log1.png) no-repeat;
	position: absolute;
	width: 18px;
    height: 16px;
    top: 2px;
    left: 15px;
}


.btn {
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	background-color: #222;
	color: #fff;
	padding: 14px 25px;
	border: none;
	transition: 0.8s;
	}

.btn:hover, .btn:focus {
	outline: none;
	background-color: #3e3e3e;
}

.btn:active {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	color: #1ABC9C;
}

.logo-wrap {
	width: 371px;
	height: 155px;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 80px;
}

.features-wrap {
	width: 960px;
	margin: 0 auto;
}

.features {
	margin: 0 10px 80px 10px;
}

.features--iteam {
	display: inline-block;
	width: 32.3333%;
	vertical-align: top;
}

.features--iteam__title {
	font-size: 30px;
	font-weight: 400;
	line-height: 42px;
	color: #f7f4f1;
	text-align: center;
	position: relative;
	padding-bottom: 50px;
    margin-bottom: 30px;

}

.features--iteam__title:before {
	content: '';
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: #fff;
	bottom: 0px;
	left: 45%;
	transform: rotate(45deg);
}

.features--iteam__text {
	display: block;
	text-align: center;
	min-width: 250px;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #f7f4f1;
	width: 20%;
    margin: auto;
}

/*Top Section*/

.content-wrapp {
	width: 940px;
	margin: 0 auto;
}

.content {
	background-color: #faf7f4;
	padding: 50px 80px;
	margin-bottom: 36px;
}

.content-news {
	display: inline-block;
	width: 49%;
	vertical-align: top;
}

.content-news__title, .content-galery__title {
	font-size: 30px;
	font-weight: 400;
	line-height: 42px;
	margin-bottom: 33px;
}

.content-news__text {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	width: 82%;
	margin-bottom: 14px;
}

.content-news__date {
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 30px;
}

.content-galery {
	display: inline-block;
	width: 49%;
	margin: 0 auto;
	text-align: center;
}

.content-galery__container {
	width: 300px;
	height: 178px;
	background-color: #fff;
	padding: 7px;
	margin-bottom: 78px;
	text-align: center;
	display: inline-block;
}

.content-galery__img {
	display: inline-block;
	width: 328px;
	height: 164px;
}

.btn-galary__back, .btn-galary__next  {
	display: inline-block;
	margin-right: 20px;
}


.content-info {
	width: 49%;
	display: inline-block;
	vertical-align: top;
}

.content-info__title {
	font-size: 30px;
	font-weight: 400;
	line-height: 42px;
	margin-bottom: 30px;
}

.info__address {
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 5px;
}

.address__street {
	display: block;
}

.content-info__address a {
	display: inline-block;
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #000;
	margin-bottom: 35px;
}

.content-info__time {
	margin-bottom: 28px;
}

.info__time {
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 9px;
}

.btn-address {
	display: inline-block;
	margin-right: 15px;
}

.btn-address:last-child {
	margin-right: 0;
}

.content-entry {
	margin-left: 65px;
	width: 42%;
	display: inline-block;
}

.content-entry__title {
	font-size: 30px;
	font-weight: 400;
	line-height: 42px;
	margin-bottom: 35px;
}

.content-entry__descr {
 	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	width: 297px;
	margin-bottom: 45px;
 }

.content-entry__input {
	display: inline-block;
	padding: 15px 30px 15px 17px;
	border: 2px solid #000101;
	background-color: #f9f6f3;
}

.content-entry__form {
	display: block;
}

.content-entry__form label {
}

.content-entry__form input	{
	display: inline-block;
    width: 150px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 10px 15px;
    border: 2px solid #000;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000;
    background: #f9f6f3;
}

.btn-form {
	width: 315px;
}

.footer {
	background-color: #222;
}

.address {
	width: 20%;
	display: inline-block;
	color: #fff;
	margin-right: 185px;
}

.footer-content {
	padding: 50px 0 30px 0;
}

.address p {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 8px;
}

.address__question, .address__tel {
	display: inline-block;
	color: #fff;
	margin-bottom: 8px;
}

.address__tel {
	text-decoration: none;
}

.social {
	width: 20%;
	display: inline-block;
	color: #fff;
	vertical-align: top;
	text-align: center;
	margin-right: 180px;
}

.footer-social__icon {
	display: inline-block;
	width: 43px;
	height: 43px;
	margin-right: 6px;
	background: #000 url(../img/sprites.png) no-repeat;
	cursor: pointer;
}

.social-text {
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 20px;
}

.social-icon__vk {
	transition: 0.5s;
	background-position: -3px -12px;
}

.social-icon__fb {
	transition: 0.5s;
	background-position: 3px -135px;
}

.social-icon__instagramm {
	transition: 0.5s;
	background-position: 0px -70px;
}

.social-icon__vk:hover {
	background-color: #fff;
	background-position: -3px 14px;
}

.social-icon__fb:hover {
	background-color: #fff;
	background-position: 3px -104px;
	
}
.social-icon__instagramm:hover {
	background-color: #fff;
	background-position: 0px -40px;
}

.dev {
	width: 20%;
	display: inline-block;
	vertical-align: top;
	color: #fff;
}

.dev-text {
	margin-bottom: 20px;
}


.dev-text__site a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	background-color: #000;
	padding: 10px 20px;
	transition: 0.8s;
}

.dev-text__site a:hover {
	background-color: #3e3e3e;
}